<% if user_signed_in? %>
  <button type="button" class="btn-link logado">
       usuário: <%= current_user.email %>
  </button>
  <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn-link sair' %>

<% else %>
  <%= button_to 'Login', new_user_session_path, class: 'btn-link' %>
  <%= link_to 'Cadastro', new_user_registration_path, class: 'btn-link btn-link-registrar' %>
<% end %>