<nav>
<p><%= link_to 'Listar', maquinas_path, class: 'to_link' %></p>
<p><%= link_to 'Nova Máquina', new_maquina_path, class: 'to_link' %></p>
<p><%= link_to 'Página principal', root_path ,class: 'to_link' %></p>
  <p><%= render 'account_links' %></p>
  <div class="animation start-home"></div>
</nav>