.lista{
    width: 60%;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    background:rgb(255, 255, 255); 
    box-shadow: 1px 0px 6px 0px #595959; 
    border-radius:5rem; 
    padding:1em;
}



.list-group-ul {
    list-style-type: none;

}.list-group-item{
width: 90%;
margin: 0 auto;
margin-bottom: 20px;
position: relative;

}.list-group-item strong{
font-size: 25px;

}.list-group-item{
font-size: 28px;}


.link-form{
    text-decoration: none;
    color: #f4f4f4;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 2rem;
    margin-left: 15rem;
    margin-right: 1rem;
    background-color:  #05b55a;
    border-radius: 2rem;
    padding: 1rem 24rem;
}
