body{


}
.login-log{
    font-size: 16px;
    font-family: inherit;
    margin: 1rem 0rem;
    padding: 8px 15px;
    border-radius: 0.5rem;    
    border: 1px solid #002c15;
    background: #fdfdfd;
    outline: none;
    width: 40%;
    transition: all 0.3s;
}.form-log{
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}.btn-log{
    padding: .5rem 2.5rem;
     border-radius: 3rem;
     font-size: 18px;
     font-weight: 600;
     background-color: #002c15;
     color: white;
     margin: 2rem 0; 
     cursor: pointer;
 
 }